// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

a {
  color: #f47761; 
  transition: 0.2s all;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: #F4C08A;
  }
  &:active{
    color: red;
  }
}

header {
  width: 100%;
  padding: 1rem 0 0;
  background-color: black;
  h1 {
    font-size: 1.5rem;
    font-family: 'Poiret One';
    color: white;
  }
  h3 {
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    color: #888;
  }
  p {
    color: #ddd;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    font-weight: 300;
  }
}

body {
  font-family: 'Lato';
  font-weight: 100;
}

#app-container {
  width: 100%;
  height: 100%;
}

.main-map {
  width: 70%;
  height: 100%;
  right: 0;
  position: fixed;
}

.selection__panel {
  text-align: center;
  width: 30%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: black;
  left: 0;
}

dt {
  font-size: 1.2rem;
  padding: 1rem 0 1rem 2rem;
  margin: 1.5rem 0 1.5rem;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  font-family: 'Poiret One';
  text-align: left;
}

.dd__split {
  margin: 0.5rem 0 0.8rem;
  color: #888;
}

@mixin button-style {
  border: 1px solid #999;
  font-size: 0.9rem;
  max-width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  transition: 0.2s all;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.125);
  &:hover {
    border-color: #888;
    background-color: rgba(255,255,255,0.2);
  }
}

.button__download {
  color: white;
  @include button-style;
  &:hover{
    color: white;
  }
}

input {
  overflow-wrap: break-word;
}

select {
  border: 1px solid #999;
  font-size: 0.9rem;
  transition: 0.2s all;
  height: 2rem;
  width: 12rem;
  max-width: 100%;
  background-color: rgba(255,255,255,0.125);
  &:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: #888;
  }
}

.dt__no-top {
  margin-top: 0;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.mapboxgl-ctrl > button:last-child {
  display: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

.selection__panel--bottom {
  margin-top: 2rem;
  z-index: 1;
  margin-bottom: 2.5rem;
}

.about__panel {
  transition: all 2s linear;
}

.about__content--backing {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.about__content--text {
  position: absolute;
  z-index: 101;
  width: 40%;
  top: 3.25rem;
  left: 1.5rem;
  background-color: black;
  color: #ddd;
  font-size: 1rem;
  line-height: 1.6rem;
  overflow: scroll;
  max-height: 60%;
  border: 1px solid #555;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.3);
  transition: all 0.4s;
  p {
    margin-bottom: 1rem;
  }
  h2 {
    font-family: 'Poiret One';
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.about__exit {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    color: #bbb;
  }
}

.hidden {
  visibility: hidden;
}

.boldme {
  font-weight: 800;
  display: inline-block;
}

.button__upload--face {
  position: relative;
  overflow: hidden;
  width: 8rem;
  margin: 0 auto;
  @include button-style;
  .button__upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.button__upload {
  cursor: pointer;
  width: 200px;
  height: 100px;
}

.selection__panel--footer {
  border-top: 1px solid #555;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-weight: 300;
  a {
    margin-right: 0.25rem;
  }
}
