.loader__box {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 101;
}

.loader {
  position: relative;
  margin: 2rem auto;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border: 0px solid black;
  border-radius: 50%;
  box-shadow: 0 -20px 0 24px black inset;
  animation: rotate 1s infinite linear;

  @include desktop {
    margin: 18rem auto;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
